table{
  width: 90vw;
  margin: auto;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
tr td img{
  width: 50px;
}
table tr{
  padding: 20px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid black;
}

.high{
  color: green;
}
.low{
  color: red;
}